---
layout: default
title: Highlights
---

<div class="container">
    <div class="header">
        <h1>Blog Highlights</h1>
        <p>Latest posts and updates</p>
    </div>

    {% assign latest_post = site.posts.first %}

    {% comment %}
    Extract first markdown image:
    ![alt](https://...)
    {% endcomment %}
    {% assign main_image = latest_post.content
        | split: '!['
        | last
        | split: '('
        | last
        | split: ')'
        | first %}

    <div class="highlights-container">

        <!-- Main Highlight -->
        <a class="main-highlight-link" href="{{ latest_post.url }}">
            <div class="main-highlight">

                {% if main_image contains 'http' %}
                    <img src="{{ main_image }}" alt="{{ latest_post.title }}">
                {% else %}
                    <img src="/images/default-post.jpg" alt="{{ latest_post.title }}">
                {% endif %}

                <div class="content">
                    <h2>{{ latest_post.path | split:'/' | last }}</h2>

                    <div class="description">
                        {{ latest_post.date | date_to_string }}
                    </div>
                </div>
            </div>
        </a>

        <!-- Remaining Posts -->
        <div class="other-highlights">

            {% for post in site.posts offset:1 %}

                {% assign image_url = post.content
                    | split: '!['
                    | last
                    | split: '('
                    | last
                    | split: ')'
                    | first %}

                <a class="highlight-link" href="{{ post.url }}">
                    <div class="highlight-item">

                        <div class="content">
                            <h3>{{ post.path }}</h3>

                            <div class="description">
                                {{ post.date | date_to_string }}
                            </div>
                        </div>

                        {% if image_url contains 'http' %}
                            <img src="{{ image_url }}" alt="{{ post.title }}">
                        {% else %}
                            <img src="/images/default-post.jpg" alt="{{ post.title }}">
                        {% endif %}

                    </div>
                </a>

            {% endfor %}

        </div>
    </div>
</div>