---
layout: common
---

<section class="about-page">

    <h1 class="about-title">
        About
    </h1>

    <div class="about-content">

        <div class="about-text">
            {{ content }}
        </div>

        <div class="about-photo">
            <img src="{{ page.photo }}">
        </div>

    </div>

    <div class="social-links">

        <a href="mailto:{{ page.email }}">
            Email
        </a>

        <a href="{{ page.github }}">
            GitHub
        </a>

        <a href="{{ page.linkedin }}">
            LinkedIn
        </a>

        <a href="{{ page.instagram }}">
            Instagram
        </a>

    </div>

</section>