<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/highlights.css">
</head>

<body>

    <header class="site-header">
        <div class="header-inner">
            <a href="/" class="logo">
                CaryChau
            </a>

            <nav>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/highlights.html" class="active">Highlights</a></li>
                    <li><a href="/aboutme.html">About Me</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {{ content }}
    </main>

</body>

</html>